/* You can add global styles to this file, and also import other style files */
@import "variables.style";
@import "~@ng-select/ng-select/themes/default.theme.css";
@import '~@angular/cdk/overlay-prebuilt.css'; /** Add this only for non-material project */
//@import '~lightgallery/scss/lightgallery';

.invalid-feedback{
  display: block
}

.main-header{
    display: flex;
    height: $header-height;
    background-color: $main-color;
    color: var(--color-header-text);
    font-size: 16px ;
    //position: fixed;
    width: 100%;
    margin: 0;
    position: fixed;
    top: 0;
}
.main-footer{
    display: flex;
    height: $footer-height;
    background-color: $main-color;
    color: var(--color-header-text);
    font-size: 16px ;
    padding-bottom: 8px ;
    padding-top: 8px;
    bottom: 0;
    position: fixed;
    width: 100%;
    margin: 0;
    z-index: 2;
}

.main-body{
    display: flex;
    flex: 1;
    height: 100vh;
    position: fixed;
    top: $header-height;
    right: 0;
    left: 0;
}



html, body { height: 100%; color: $font-color!important; }
body { margin: 0; font-family: Ubuntu, "Helvetica Neue", sans-serif}

/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
